*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;   
}
.whole{
    width:100%;
    height:100%;
    margin: 0%;
    padding:0%;
}
.sidebar ul li a.selected{
    background-color: #ffffff;
    color: #1c1b2c;

}
.sidebar.active ul li a.selected{
    background-color: #ffffff;
    color: #1c1b2c;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background: #5D3FB3;
    padding: 15px 10px;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 300px;
}

.sidebar .logo_content{
    width: 100%;
    height: 7%;
    display: flex;
    color: #fff;

}
.sidebar .logo_content .logo{
    width: 80%;
    display: flex;  
    opacity: 0;
    pointer-events: none; 
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;

}
.sidebar .logo_content .logo i{
    width: 25%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .logo_content .logo .logo_name{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: left;
    white-space: nowrap;
}

.sidebar .logo_content #btn{
    position: absolute;
    height: 7%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transform: translate(-50%);
}
.sidebar.active #btn{
    left: 90%;
    
}

.sidebar ul li{
    height: 40%;
    width: 100%;
    line-height: 50px;
    list-style: none;
}


.sidebar ul li a{
    background-color: #5D3FB3;
    color: #fff;
    display: flex;
    margin-top: 15px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    text-align: center;
    white-space: nowrap;
}
.sidebar.active ul li a{
    background-color: #1c1b2c;
    
}

.sidebar ul li a:hover{
    color: #5D3FB3;
    background: #fff;
}

.sidebar ul li a i{
    font-size: 20px;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;   
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.main-content{
    position: absolute;
    height: 100%;
    width: calc(100% - 70px);
    left: 70px;
    /* padding:1% 2%; */
    transition: all 0.5s ease;
}
.header{
    width: 100%;
    height:70px;
    background-color: #5D3FB3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    
}
.sidebar.active ~ .main-content{
    width: calc(100% - 300px);
    left: 300px;
}
.add-user{
    width:100%;
    height:10%;
}
.user-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:45%;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form input{
    padding: 2%;
    margin:1%;
    width:30%;
    outline: none;
    border-style: solid;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
.form-title{
    height:5%;
    width:80%;
    display: flex;
    align-items: flex-start;
}
.form-title h3{
    margin: 0%;
}
.table-title{
    height:5%;
    width:80%;
    display: flex;
    align-items: flex-start;
}
.table-title h3{
    margin: 0%;
}
table {
    margin-top: 1%;
    margin-left: 4%;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #5D3FB3;
    color: white;
}
/* Set widths for the first three columns */
table th:nth-child(1),
table th:nth-child(2),
table th:nth-child(3),
table th:nth-child(4),
table td:nth-child(1),
table td:nth-child(2),
table td:nth-child(3),
table td:nth-child(4){
    width: 10%; /* Adjust this percentage to your needs */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Set width for the fourth column */
table th:nth-child(5),
table td:nth-child(5) {
    width: 20%; /* Adjust this percentage to your needs */
}
.role-management{
    width:100%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.group-management{
    width:100%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.group-management h3{
    margin:0%;
}
.group-form{
    width: 100%;
    height: 10%;
    
}
.group-list-title,.role-list-title{
    height:5%;
    width:80%;
    display: flex;
    align-items: flex-start;
}
.group-list{
    width:100%;
    height:45%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.adddelete-users-to-group-form{
    width:100%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
.user-management{
    width:100%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user-management,.group-management,.role-management{
    display: none;
}
.user-management.active, .group-management.active, .role-management.active {
    display: block;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content1 {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    height:50%;
    border-radius: 12px;
}
#actionButtons{
    height:80%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aub , .rub{
    width:25%;
    height:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#showRemoveUserForm{
    margin: 4%;
    padding: 4%;
    border-radius: 12px;
    font-size: 17px;
    background-color: #5D3FB3;
    border-color: #5D3FB3;
    color: white;
    width: 65%;
}
#showRemoveUserForm:hover{
    background-color: #422c80;
}
#showAddUserForm:hover{
    background-color: #422c80;
}
#showAddUserForm{
    margin: 4%;
    padding: 4%;
    border-radius: 12px;
    font-size: 17px;
    background-color: #5D3FB3;
    border-color: #5D3FB3;
    color: white;
    width: 65%;
}
#submitAddUserButton,#submitRemoveUserButton{
    background-color: #5D3FB3;
    border-radius: 12px;
    color: white;
    font-size: 17px;
    border-color: #5D3FB3;
}
#submitAddUserButton:hover,#submitRemoveUserButton:hover{
    background-color: #422c80;
}
.modal-content3,.modal-content4{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    height:50%;
    border-radius: 12px;
}
.modal-content2{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    height:50%;
    border-radius: 12px;
}
.close-btn1,.close-btn2,.close-btn3,.close-btn4,.close-btn5,.close-btn6,.close-btn7 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn1:hover,
.close-btn1:focus,
.close-btn2:hover,
.close-btn2:focus,
.close-btn3:hover,
.close-btn3:focus,
.close-btn4:hover,
.close-btn4:focus,
.close-btn5:hover,
.close-btn5:focus,
.close-btn6:hover,
.close-btn6:focus,
.close-btn7:hover,
.close-btn7:focus  {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal h3 {
    margin-top: 0;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form label {
    margin: 10px 0;
}

.modal form select,
.modal form input[type="radio"] {
    margin-bottom: 10px;
}

.modal form button {
    margin-top: 10px;
    padding: 10px;
}
 
.view , .delete , .edit {
    width:16%;
    height:20%;
    border-radius: 12px;
    background-color: #5D3FB3;
    border: #5D3FB3;
    font-size: 17px;
    color: white;
}
.editu , .deleteu{
    width:25%;
    height: 20%;
    border-radius: 12px;
    background-color: #5D3FB3;
    border: #5D3FB3;
    font-size: 17px;
    color: white;
}
.add-remove-user{
    width:23%;
    height:20%;
    border-radius: 12px;
    background-color: #5D3FB3;
    border: #5D3FB3;
    font-size: 17px;
    color: white;
}

.view:hover , .delete:hover , .edit:hover , .editu:hover , .deleteu:hover , .add-remove-user:hover{
    background-color: #422c80;
}
.createGroup{
    margin-left:33%;
    background-color: #5D3FB3;
    border-radius: 12px;
    color: white;
    height:12%;
    width: 18%;
    border-color: #5D3FB3;
    font-size: 17px;
}
.createGroup:hover{
    background-color: #422c80;
}
.userBtn{
    margin-top: 3%;
    width:80%;
    height:100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.newUser{
    height:50%;
    width:10%;
    font-size: 17px;
    padding: 0.5%;
    background-color: #5D3FB3;
    border-color: #5D3FB3;
    border-radius: 12px;
    color: white;
}
.addUserModal{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.addUserModalContent{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    height:50%;
    border-radius: 12px;
}

.add-user-form{
    display: flex;
    align-items: center;
}

.role-form{
    width:100%;
    height:10%;
}

.roleBtn{
    margin-top: 3%;
    width:80%;
    height:100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.newRole{
    height:50%;
    width:10%;
    font-size: 17px;
    padding: 0.5%;
    background-color: #5D3FB3;
    border-color: #5D3FB3;
    border-radius: 12px;
    color: white;
}
.addRoleModal{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.addRoleModalContent{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    height:50%;
    border-radius: 12px;
}
.createRoleForm{
    display: flex;
    align-items: center;
}

.groupBtn{
    margin-top: 3%;
    width:80%;
    height:100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.newGroup{
    height:50%;
    width:10%;
    font-size: 17px;
    padding: 0.5%;
    background-color: #5D3FB3;
    border-color: #5D3FB3;
    border-radius: 12px;
    color: white;
}
.addGroupModal{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.addGroupModalContent{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    height:50%;
    border-radius: 12px;
}
#createGroupForm{
    display: flex;
    align-items: center;
}
.role-list{
    width:100%;
    height:45%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.role-list-assignments{
    width:100%;
    height:40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.roleG , .roleU{
    width:25%;
    height:20%;
    border-radius: 12px;
    background-color: #5D3FB3;
    border: #5D3FB3;
    font-size: 17px;
    color: white;
}
.error-mesage1,.error-mesage2,.error-mesage3,.error-mesage4{
    height:10%;
    width:100%;
}
.addButton,.createRoleBtn{
    padding: 1%;
    width:25%;
    height:7%;
    border-radius: 12px;
    background-color: #5D3FB3;
    border: #5D3FB3;
    font-size: 17px;
    color: white;
    margin-top: 5%;
    margin-left: 30%;
}
.modal-content2 li{
    list-style-type:disc;
    margin: 2%;
}
.headingG{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.successmessage{
    display: none;
    position: absolute;
    color: #270;
    bottom: 1%;
    right:3%;
    z-index: 50;
    background-color: #DFF2BF;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}

#assignUserRole , #assignGroupRole{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
#assignUserButton , #assignGroupButton{
    padding: 0.5%;
    width:17%;
    height:7%;
    border-radius: 12px;
    background-color: #5D3FB3;
    border: #5D3FB3;
    font-size: 17px;
    color: white;
    margin-top: 3%;
    margin-left: 5%;
}
#assignUserSelect{
    width:20%;
}
.cb{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}